.form-group {
    width: 100%;
}

body {}

html {
    height: 100%;
}

.notion-form {
    margin: auto;
    width: 80%;
}

.page-title {
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

.form-select {
    font-size: xx-large;
    width: fit-content;
}